<table>
  	<thead>
    	<tr>
	      <th><%= link_to "First name", sort: :first_name %></th>
	      <th><%= link_to "Last name", sort: :last_name %></th>
	      <th><%= link_to "Email", sort: :email %></th>
	      <th>Project </th>
      	  <th colspan="3"></th>
    	</tr>
  </thead>

  	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td> <%= user.first_name %> </td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><% user.projects.each do |project| %>
						<% if project.active == true %>
							<%= project.name %>
						<% end %>	

					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
<table>

<%= form_tag(users_path, method: :get, id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search User" %><br>

<%= submit_tag "Search" %>
<% end %><br>
 

 <%= link_to "Create a new User", new_user_path %> <br>
  <%= link_to "Show all projects", projects_path %>