<table>
  	<thead>
    	<tr>
	      <th>Name</th>
      	  <th colspan="3"></th>
    	</tr>
  </thead>

  	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td> <%= project.name %> </td>
				<td><%= link_to 'Show', project %></td>
			</tr>
		<% end %>
	</tbody>
<table>
 

 <%= link_to "Create a new Project", new_project_path %><br>
 <%= link_to "Show Users", users_path %>