<h1>New Project</h1>


<%= form_for(@project) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Active" %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>

<%= link_to 'Back', projects_path %>