<p id="notice"><%= notice %></p>

<p>
  <strong> Name: </strong>
  <%= @project.name %>
</p>

<p>
  <strong>Is Active? </strong>
  <%= @project.active %>
</p>
	<table><h1> User</h1>
				  <thead>
				    	<tr>
				      		<th>Id</th>
				      		<th>Email</th>
				      		<th colspan="3"></th>
				    	</tr>
				  	</thead>
				  	<tbody>
  						<% @users.each do |user| %>
							<%= user.email %> <%= link_to 'Add friend', addusers_project_path(@project, user_id: user.id) %><br />
    					<% end %>
    				</tbody>
				  	<tbody>
					    <% @usersadd.each do |user| %>
					      <tr>
					        <td><%= user.id %></td>
					        <td><%= user.email %></td>
					        <td><%= link_to 'Remove user',  removeuser_project_path(@project, user_id: user.id) %></td>
					      </tr>
				    	<% end %>
				    </tbody>
				</table>

<%= link_to 'Back', projects_path %>
